@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("http://fonts.cdnfonts.com/css/cocogoose");

$font1: cocogoose, sans-serif;
$font2: Lato, sans-serif;
$main-color1: #ec5242;
$main-color2: #595c61;
$main-color3: #d3d3d3;
$header-bg: url(/images/background.png);
$small-font: 0.8rem;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin title-background {
  background: url(/images/red-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin red-line {
  width: 50px;
  height: 2px;
  background-color: $main-color1;
  opacity: 0.6;
}

body {
  font-family: $font2;
  color: $main-color2;
}
