@import "base";

/* Header */

header {
  display: flex;
  flex-direction: column;
  background-image: $header-bg;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  padding: 20px;

  span {
    color: $main-color2;
  }

  #welcome-words {
    color: $main-color1;
    font-family: $font2;
    margin: 35px 0 5px 0;
    font-size: 1.2rem;
  }

  h1 {
    @include title-background;
    font-family: $font1;

    span {
      display: block;
      margin-top: -12px;
    }
  }

  p {
    border: 3px solid #fff;
    background-color: #faf7f7;
    font-size: $small-font;
    font-family: $font2;
    font-weight: 500;
    padding: 10px;
    line-height: 1.5;
    margin-top: 20px;
  }

  #next-class {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: $font1;

    #start-date {
      display: block;
      margin-top: -8px;
    }
  }

  #location {
    font-family: $font2;
    font-size: $small-font;
  }
}

main {
  #main-curriculum {
    background-color: #262731;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;

    .red-line {
      @include red-line;
      margin: 15px 0 30px 0;
    }

    .languages {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(151, 148, 148, 0.1);
      padding: 10px;
      margin-bottom: 10px;

      span {
        color: #fff;
        background-color: $main-color1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 10px;
      }

      h3 {
        color: $main-color1;
      }

      p {
        width: 50%;
        font-size: $small-font;
        line-height: 1.5;
      }
    }

    button {
      background-color: $main-color1;
      border: none;
      color: #fff;
      width: 80%;
      font-size: 1rem;
      padding: 20px;
      margin-top: 30px;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 380px) {
  header {
    height: 68vh;

    h1 {
      font-size: 1.8rem;
    }

    #next-class {
      font-size: 1.2rem;
    }
  }
}
